{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shopvibe{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <!-- No navigation for auth pages -->

    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
<footer class="footer" "text-align:center">
        <div class="jumbotron" style='text-align:center;margin-left:300px;margin-right:300px;'>
        <p>&copy;  2025 Shopvibe Clone 🖤 All rights reserved.
</p>

        </div>
    </footer>

</body>
</html>
